<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>!</p>

    <p>Your next Friend Over Food is with <strong><%= @luncher.first_name %> <%= @luncher.last_name %></strong>. Go ahead and email <%= @luncher.first_name %> at <strong><%= @luncher.email %></strong> and schedule a time to do lunch. Have fun!</p>

    <p>Once you're done with that lunch feel free to find more lunches <a href="<%= @url %>">here</a>.</p>

    <br>
    <p>Cheers,</p>
    <p>Friend Over Food</p>

  </body>
</html>