%h1.is-ta-center About

%p.is-ta-left Not Baller Lunch was created after Ballers Marc Cortez and Daniel Yu decided to spontaneously meet for a meal in New York City. Despite not knowing anything about each other beforehand, they both had a great experience just sitting down and getting to know each other on a personal level.

%p.is-ta-left There's often pressure to treat meeting people as a contest, where the goal is to make as many new connections as possible. The real value behind connections though is when there's a depth to the relationship, beyond just an email intro or LinkedIn profile. Continuing in the tradition of Baller Dinners, Not Baller Lunch aims to faciliate creating meaningful connections and strengthen the Baller community one relationship at a time.

%p.is-ta-left Not Baller Lunch is simple: When you sign up your identity will be verified to ensure that you're part of the Baller group, after which point you can request a lunch with just one click. The platform will then search for other Ballers requesting lunch in your city and automatically pair you with someone you haven't lunched with before. Both Ballers then receive an email containing the other's email address, at which point the coordinating and logistics are left up to you. Once you receive a lunch pairing, you're free to go back to the site and request more lunches. 