%h1.is-ta-center Contact

%p 
  Any feedback about Friend Over Food is greatly appreciated. 

%p   
  Please send all questions, comments, or suggestions to Daniel Yu at  
  %a.antispam{:href => "mailto:dcyu@live.com"} dcyu@live.com
  %span> .