%h1.is-ta-center FAQ

.faqs
  %p.question Is there a limit on the amount of lunches I can requst?

  %p.answer No, there is no limit. As long as there are still Ballers in your city that you have not lunched with you will be able to request lunches and continue getting matched.

  %p.question How does it work?

  %p.answer Good question. When a user makes a lunch request the application searches for other users that have also submitted lunch requests. 