%h1.is-ta-center FAQ

.faqs
  %p.question My city is not listed on the sign up, what should I do?

  %p.answer 
    Go ahead and sign up, while choosing another city for the time being. Then send a message to Daniel Yu at
    %a.antispam{:href => "mailto:dcyu@live.com"} dcyu@live.com
    and request that your city be added. As soon as this is done, you can edit your user information and update it with your city.


  %p.question Is there a limit on the amount of lunches I can request?

  %p.answer No, there is no limit. As long as there are still Ballers in your city that you have not lunched with you will be able to request lunches and continue getting matched.

  %p.question I'm visiting another city and want to do a Not Baller Lunch there. Can I set that up somehow?

  %p.answer Certainly. Just update your settings to indicate that you are in that city, and then all your lunch requests will look for lunches there. When you return to your original city or travel to a new one just be sure to update your settings again.  

  %p.question I like code. Can I see your code?

  %p.answer 
    Sure. All the code can be found on 
    %a{:href => "https://github.com/dcyu/baller_lunch"} Github 
    %span>. Since you probably know Rails better than I do, feel free to submit a pull request if you have any ideas for improvement.

  %p.t-border-bottom 

  %p.is-ta-center
    Other questions? Send Daniel Yu a message at
    %a{:href => "mailto:dcyu@live.com"} dcyu@live.com
    %span> .