.center-box
  = image_tag "cafe.png", class: "cafe-img"

%article.l-article.home.is-ta-center
  
  .stripe
  
  .feature-box
    %h2 
      GET TO KNOW PEOPLE 
      IN YOUR GROUPS

    - unless (current_user) || (current_admin)
      %a.call-to-action.submit{:href => "#{sign_in_path}"} Find a new lunch! 


