%h1.title.is-ta-center Welcome to Friend Over Food

%h2.subtitle.is-ta-center Meet people individually through your interest groups and build meaningful friendships


.is-block.is-ta-center
  - unless (current_user) || (current_admin)
    %a.call-to-action{:href => "#{sign_in_path}"} Find a new lunch! 

