// alerts

#flash_alert, #flash_notice
  position: absolute
  top: 55px
  left: 10px

// buttons

input[type="submit"], .submit
  border: none
  border-radius: 0
  padding: 0.8em
  color: #fff
  width: 338px
  display: block
  margin: 2em auto
  background: $medium_blue
  +transition(0.1s) 
  &:hover
    +transform(scale(1.05))

.wide-btn input
  width: 100%

// header

.logo

// images

.team-member-img
  width: 150px
  height: auto

  
// main
.admin-table
  td
    padding: 5px 30px 0 0
    text-align: left
  th
    text-align: left
    padding: 5px 30px 0 0

.call-to-action
  font-size: 2em
  margin: 2em
  display: inline-block
  text-align: center

.center-box
  display: table
  margin: 0 auto

.faqs
  .answer, .question
    text-align: left
  .question
    color: $medium_blue
    font-weight: bold

.logo
  font-size: 3em
  margin-bottom: 0
  padding-bottom: 0
  &:hover
    +transform(scale(1))

.subtitle
  font-size: 3em
  padding-top: 0
  color: $medium_blue

.title
  padding-bottom: 0
  margin: 1em 0 0.5em 0
  color: $dark_blue
