// alerts

#flash_alert, #flash_notice
  position: absolute
  top: 55px
  left: 10px

// buttons

input[type="submit"]
  border: none
  border-radius: 0
  padding: 0.8em
  color: #fff
  background: $medium_blue
  // +extend .on-hover
  // +extend .is-enlarged

.wide-btn input
  width: 100%

// header

.logo

// images

.team-member-img
  width: 150px
  height: auto

  
// main

.call-to-action
  font-size: 2em
  margin: 2em
  display: inline-block
  text-align: center

.center-box
  display: table

.logo
  font-size: 3em
  margin-bottom: 0
  padding-bottom: 0

.subtitle
  font-size: 3em
  color: $dark_blue
  padding-top: 0

.title
  padding-bottom: 0
  margin-bottom: 0.5em